@{
    ViewData["Title"] = "Главная";
}

<link rel="stylesheet" href="~/css/Landing.css" />

<div class="landing">
    <div class="section-1">
        <div class="d-flex justify-content-between">
            <div class="info">
                <h1>Комплексное<br />
                    тестирование у вас дома</h1>
                <p>Определите свои реальные способности, общую<br />
                    и профессиональную мотивацию, а также<br />
                    личностные качества.</p>
                    <button onclick="scrollToInfo()"><span>Подробнее</span></button>
            </div>
            <img src="~/Images/Landing/landing-1.png" alt="first img"/>
        </div>
    </div>
    <img class="transition-top" src="~/Images/Landing/transitionTop.png" />
    <div class="section-2" id="AboutUs">            
        <div class="section-2-content d-flex justify-content-between">
            <div class="info">
                <hr />
                <h1>О нас</h1>
                <p>В настоящее время базах кадрового потенциала<br />
                    МНП «АРСИТ» более 25 тысяч человек: <br />
                    школьников, студентов, специалистов и <br />
                    руководителей.  </p>
            </div>
            <img src="~/Images/Landing/Photo.png"/>
        </div>
    </div>
    <img class="transition-bottom" src="~/Images/Landing/transitionBottom.png" />
    <div class="section-3" id="tests">
        <div class="section-3-header text-xl-center">
            <hr />
            <h1>Подберите категорию под себя</h1>
        </div>
        <div class="d-flex justify-content-between">            
            <div class="section-3-cart">
                <img src="~/Images/landing/cart-1.png" alt="Backpack" />
                <h4>Для обучающихся</h4>
                <p>Мы вынуждены отталкиваться от того,<br />
                    что новая модель организационной<br />
                    деятельности однозначно определяет<br />
                    каждого.</p>
            </div>
            <div class="section-3-cart">
                <img src="~/Images/landing/cart-2.png" alt="PageTxt" />
                <h4>Для специалистов</h4>
                <p>Мы вынуждены отталкиваться от того,<br />
                    что новая модель организационной<br />
                    деятельности однозначно определяет<br />
                    каждого.</p>
            </div>
            <div class="section-3-cart">
                <img src="~/Images/landing/cart-3.png" alt="VectorUp" />
                <h4>Для организации</h4>
                <p>Мы вынуждены отталкиваться от того,<br />
                    что новая модель организационной<br />
                    деятельности однозначно определяет<br />
                    каждого.</p>
            </div>
        </div>
    </div>
    <div class="section-4" id="info">
        <img class="transition-4-top" src="~/Images/landing/transitionTopBottom.png" />
        <div class="section-4-content d-flex justify-content-between align-content-center">
            <img src="~/Images/Landing/Photo.png"/>
            <div>
                <hr />
                <h1 >Что такое КОПП</h1>
                <p>Опираясь на мировой и отечественный опыт в области<br />
                    профориентологии, мы разработали и адаптировали к <br />
                    современным условиям КОПП для различных социальных <br />
                    групп: школьников, студентов, специалистов и<br />
                    руководителей, работающих в различных отраслях и<br />
                    сферах профессиональной деятельности.</p>
                <button><span>Подробнее</span></button>
            </div>
        </div>
        <img class="transition-4-bottom" src="~/Images/landing/transitionTopBottom.png" />
    </div>
    <div class="section-5" id="advantages">
        <div class="info">
            <hr />
            <h1>Наши преимущества</h1>
        </div>
        <div class="our-prem d-flex justify-content-between">
            <div class="section-5-cart">
                <p>Содержание КОПП<br />
                    определяют работодатели </p>
                <h3 class="number">1</h3>
            </div>
            <div class="section-5-cart">
                <p>Многолетнюя проверка на<br />
                    точность</p>
                <h3 class="number">2</h3>
            </div>
        </div>
        <img src="~/Images/landing/lamp.png" />
        <div class="d-flex justify-content-between our-prem-second">
            <div class="section-5-cart">
                <p>Итоги КОПП отвечают<br />
                    интересам и  требованиям<br />
                    работодателей</p>
                <h3 class="number">3</h3>
            </div>
            <div class="section-5-cart">
                <p>Отражает требования<br />
                    реальных должностных<br />
                    обязанностей</p>
                <h3 class="number">4</h3>
            </div>
        </div>
    </div>
    <div class="section-6" id="reviews">
        <div>
            <div class="section-6-header text-xl-center">
                <hr />
                <h1>Отзывы</h1>
            </div>
            <div class="d-flex justify-content-between">
                @*Заменить на viewModel из бд*@
                <div class="section-6-cart">
                    <div class="top-info d-flex justify-content-between">
                        <img src="~/Images/landing/Ellipse.png" />
                        <p>Илья</p>
                    </div>
                    <p>Как уже неоднократно упомянуто,<br />
                        явные признаки победы<br />
                        институционализации представлены<br />
                        в исключительно положительном<br />
                        свете. </p>
                </div>
                <div class="section-6-cart">
                    <div class="top-info d-flex justify-content-between">
                        <img src="~/Images/landing/Ellipse.png" />
                        <p>Кирилл</p>
                    </div>
                    <p>Как уже неоднократно упомянуто,<br />
                        явные признаки победы<br />
                        институционализации представлены<br />
                        в исключительно положительном<br />
                        свете. </p>
                </div>
                <div class="section-6-cart">
                    <div class="top-info d-flex justify-content-between">
                        <img src="~/Images/landing/Ellipse.png" />
                        <p>Данил</p>
                    </div>
                    <p>Как уже неоднократно упомянуто,<br />
                        явные признаки победы<br />
                        институционализации представлены<br />
                        в исключительно положительном<br />
                        свете. </p>
                </div>
            </div>
            <div class="arrow d-flex justify-content-between">
                <a href="#"><img class="arrow-first" src="~/Images/landing/Vector.png"/></a>
                <a href="#"><img src="~/Images/landing/Vector.png"/></a>
            </div>
        </div>
    </div>
    <div class="section-7" id="contact">
        <div class="section-7-header text-xl-center">
            <hr />
            <h1>Контакты</h1>
        </div>
        <div>
            <h3>Связаться с нами</h3>
            <div class="messenger d-flex justify-content-between">
                <a href="#"><img src="~/Images/whatsapp.svg"/></a>
                <a href="#"><img src="~/Images/mail.svg"/></a>
                <a href="#"><img src="~/Images/telegram.svg"/></a>
            </div>
        </div>
        <div class="map">

        </div>
    </div>
</div>