
@{
    ViewBag.Title = "Аналитические способности";
}

<link rel="stylesheet" href="~/css/Tests.css" />

<div class="test">
    <h1>Аналитические способности</h1>
    <form class="d-flex justify-content-center">
        <div>        
            <div class="question">
                <p>Сотрудники организации обедают в столовой. Александр и Павел  любят пиццу, а Виктор и Володя предпочитают беляши. Александр с Володей любят манты.</p>
                <p>1.  Кто из них любит беляши и манты?</p>
            </div>       
            <div class="d-flex justify-content-between answer">
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <div class="question">
                <p>Сотрудники организации обедают в столовой. Александр и Павел  любят пиццу, а Виктор и Володя предпочитают беляши. Александр с Володей любят манты.</p>
                <p>1.  Кто из них любит беляши и манты?</p>
            </div>       
            <div class="d-flex justify-content-between answer">
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <div class="question">
                <p>Сотрудники организации обедают в столовой. Александр и Павел  любят пиццу, а Виктор и Володя предпочитают беляши. Александр с Володей любят манты.</p>
                <p>1.  Кто из них любит беляши и манты?</p>
            </div>       
            <div class="d-flex justify-content-between answer">
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <div class="question">
                <p>Сотрудники организации обедают в столовой. Александр и Павел  любят пиццу, а Виктор и Володя предпочитают беляши. Александр с Володей любят манты.</p>
                <p>1.  Кто из них любит беляши и манты?</p>
            </div>       
            <div class="d-flex justify-content-between answer">
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
            <a class="btn-link">Далее</a>
        </div>
    </form>
</div>
