
@{
    ViewBag.Title = "Пример";
}

<link rel="stylesheet" href="~/css/Tests.css" />

<div class="test">
    <h1>Пример тестирования</h1>
    <p>На основе представленной информации (ее всегда достаточно для правильного вывода) вы должны ответить на поставленный вопрос и выбрать правильный вариант ответа.</p>
    <p class="example-p mb-5">Пример:</p>
    <div class="question">
        <p>Сотрудники организации обедают в столовой. Александр и Павел  любят пиццу, а Виктор и Володя предпочитают беляши. Александр с Володей любят манты.</p>
        <p>1.  Кто из них любит беляши и манты?</p>
    </div>
    <div class="d-flex justify-content-between answer">
        <div><span>Александр</span> <img src="~/Images/Test/mouse.png"/></div>
        <div><span>Павел</span></div>
        <div><span>Виктор</span></div>
        <div><span>Владимир</span></div>
    </div>    
    <a class="btn-link" href="~/Tests/Analyt">Пройти тест</a>
</div>
