@model JustProject.Domain.ViewModels.LoginTestViewModel

@{
    ViewBag.Title = "Доступ к тесту";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="login d-flex justify-content-center text-center">
    <div>
        <h1>Доступ к тесту</h1>
        <form class="d-grid enter" action="~/Tests/LoginTest" method="post">
            <label>Логин:</label>
            <input type="text" name="Login" />
            <label>Пароль:</label>
            <input type="password" name="Password"/>
            <label class="checked d-flex justify-content-between">
                <input type="checkbox" name="RememberMe" value="true" />
                Я знаком с условиями доступа
            </label>

            <button class="btn-test-enter" type="submit">Пройти тест</button>
        </form>
    </div>
</div>
