@model JustProject.Domain.ViewModels.Tests.CommonTestResultViewModel

@{
    ViewBag.Title = "Результаты";
}

<link rel="stylesheet" href="~/css/Tests.css" />

<div class="result">
    <h1>@Model.TestResult.NameTest</h1>
    <table>  
      <tr>
        <th> </th>
        @for (int countColumns = 0; countColumns < 10; countColumns++)
        {
            <th>@countColumns</th>        
        }
      </tr>      
      @foreach (var item in Model.GroupsResult)
        {
            <tr>
                <td>@item.GroupName</td>
                @for (var i = 0; i < 10; i++)
                {
                    if (item.GroupCorrectAns == i)
                    {
                        <th>Point</th>
                    }
                    else
                    {
                        <th></th>
                    }
                }
            </tr>
        }
    </table>
    <p class="result-jobs"><b>Для данных способностей характерны следующие профессии и специальности:</b><br />
        <br />
        Инженер по организации труда(75), Системный администратор(75), Директор по развитию(75), ВЭБ- дизайнер(62), Тренер по виду спорта(62), Начальник по безопасности(62), Инженер-конструктор(50), Режиссер(50), Дизайнер(50), Эксперт(50), Фермер(50), Орнитолог(50), Мелеоратор(50), Заместитель начальника цеха(50), Мастер на производстве(50), Врач стоматолог(50), Офицер ФСБ(50), Прораб(50), Офицер ВС(50), Менеджер офиса(50), Биолог(38), Океанолог(38), Музеолог(38), Заготовитель(38), Зоолог(38), Врач скорой помощи(38), Специалист по работе с молодежью(38), Инженер по инструменту(38), Эргономист(38), Фармацевт(38), Системотехник(38), Программист(38), Офицер УВД(38), Инженер- строитель(38), Инженер по охране труда(38), Спасатель(38), Металлург(38), Документовед(25), Визажист(25), Налоговый инспектор(25), Растениевод(25), Социальный работник(25), Учитель начальных классов(25), Специалист по обслуживанию оргтехники(25), Начальник бюро пропусков(25), Инспектор технадзора(25), Материаловед(25), Инженер по инвентаризации(12), Воспитатель(12), Патентовед(12)
    </p>
    <p><b>
        Также, более подробную интерпретацию результатов вы можете получить - заказав собеседование с нашим специалистом
    </b></p>
    <div class="d-flex justify-content-between result-btn">
        <a class="btn-link" asp-action="Consultation" asp-controller="User">Заказать собеседование</a>
        <a class="btn-link" asp-action="Index" asp-controller="Home">На главную</a>
    </div>
</div>