@model JustProject.Domain.Entity.Test.Tests

@{
    ViewBag.Title = @Model.NameTest;
}

<link rel="stylesheet" href="~/css/Tests.css" />

<div class="type-test">
    <h1>@Model.NameTest</h1>
    @if (Model.NameTest == "Способности")
    {        
        <p>В этом тестировании вы проверите свои следующие способности:</p>
        <p><span>Аналитические способности (АС)</span> – это умение самостоятельно думать, рассуждать и анализировать различные явления, раскладывая ситуацию  на составляющие элементы. </p>
        <p><span>Пространственное мышление (ПМ)</span> – это вид умственной деятельности, обеспечивающий создание пространственных образов и оперирование ими в процессе решения практических и теоретических задач. </p>
        <p><span>Образное мышление (ОМ )</span> – предполагает зрительное представление ситуации и оперирование образами составляющих её предметов, без выполнения реальных практических действий.</p>
        <p><span>Технические способности (ТС)</span> – определяют  интерес к технике, желание работать на машинах, с инструментами и  оборудованием, изготавливать и обслуживать технические изделия, заниматься техническим изобретательством и исследованиями. </p>
        <p><span>Вербальные способности (ВС) </span> – отражают выраженность словесно-логического (вербального) мышления, способность использовать речь и слова как средство оформления мыслей.  </p>
        <p><span>Образное мышление (ОМ )</span> – предполагает зрительное представление ситуации и оперирование образами составляющих её предметов, без выполнения реальных практических действий. </p>
        <p><span>Математические способности (МС)</span> показывают уровень овладения математическими методами мышления, основанными на знании  математики, умении логически мыслить, систематизировать цифровой материал  и выделять закономерности. </p>
        <p><span>Внимательность ( В )</span> – сознательный процесс, направленный на сосредоточение на каком-либо объекте, даже при отсутствии личного интереса, но необходимый в силу каких-либо причин (профессиональная деятельность, обучение и тому подобное).  </p>
        <p class="type-test-time">Длительность теста: 20 минут</p>
    }
    else if (true)
    {        
        <p>В этом тестировании вы проверите свои следующие способности:</p>
        <p><span>Аналитические способности (АС)</span> – это умение самостоятельно думать, рассуждать и анализировать различные явления, раскладывая ситуацию  на составляющие элементы. </p>
        <p><span>Пространственное мышление (ПМ)</span> – это вид умственной деятельности, обеспечивающий создание пространственных образов и оперирование ими в процессе решения практических и теоретических задач. </p>
        <p><span>Образное мышление (ОМ )</span> – предполагает зрительное представление ситуации и оперирование образами составляющих её предметов, без выполнения реальных практических действий.</p>
        <p><span>Технические способности (ТС)</span> – определяют  интерес к технике, желание работать на машинах, с инструментами и  оборудованием, изготавливать и обслуживать технические изделия, заниматься техническим изобретательством и исследованиями. </p>
        <p><span>Вербальные способности (ВС) </span> – отражают выраженность словесно-логического (вербального) мышления, способность использовать речь и слова как средство оформления мыслей.  </p>
        <p><span>Образное мышление (ОМ )</span> – предполагает зрительное представление ситуации и оперирование образами составляющих её предметов, без выполнения реальных практических действий. </p>
        <p><span>Математические способности (МС)</span> показывают уровень овладения математическими методами мышления, основанными на знании  математики, умении логически мыслить, систематизировать цифровой материал  и выделять закономерности. </p>
        <p><span>Внимательность ( В )</span> – сознательный процесс, направленный на сосредоточение на каком-либо объекте, даже при отсутствии личного интереса, но необходимый в силу каких-либо причин (профессиональная деятельность, обучение и тому подобное).  </p>
        <p class="type-test-time">Длительность теста: 20 минут</p>
    }
    <div class="d-flex">
        <a class="btn-link" asp-action="BuyTests" asp-controller="Tests" >Назад</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn-link" asp-action="HistoryTests" asp-controller="User">Купить тест</a>
        }
        else{
            <a class="btn-link" asp-action="HistoryTests" asp-controller="User">Авторизируйтесь</a>
        }
    </div>
</div>