
@{
    ViewBag.Title = "Добавление профессии";
}

<link rel="stylesheet" href="~/css/AddCMS.css" />

<div class="profession-add">
    <h1>Наименование профессии</h1>
    <form>
        <input class="profession-name" type="text" value="Программист" />
        <div class="profession-add-value d-flex justify-content-between">
            <label>Вербальные</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Вычислительные</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Внимательность</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Креативное мышление</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Аналитические</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Логические</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Технические</label>
            <input type="range" />
        </div>
        <div class="profession-add-value d-flex justify-content-between">
            <label>Пространственные</label>
            <input type="range" />
        </div>
        <button type="submit"><span>Отправить</span></button>
    </form>
</div>

