

.container {
    width:1520px;
    margin:0 auto;
}

@media(max-width: 500px) {
    .container {
        width: 100vw;
    }
}

.btn-none {
    background: none;
    color: #0071C2;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.btn-none:hover {
    box-shadow: none;
    color: #0068b2;
    font-size: 20px;
}

.header-link {
    width: 363px;
    padding-right: 45px;
}

.header-btn-mobile {
    display: flex;
}

header button span {
    padding: 0 60px 0 60px;
}


header img{
    width:50px;
    height:50px;
}

header hr{
    margin-top:15px;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.footer-container {
    padding: 0 128px 0 128px;
    padding-top: 55px;
}

.footer-container a{
    display:block;
    font-size: 14px;    
}

.footer-container a:hover {
    color:#0068b2;
    font-size: 16px;
}

.footer-container button{
    display:block;
    font-size: 14px;
    height:auto;
}

.footer-container button:hover {    
    font-size: 16px;    
}

.footer-messenger {
    width: 130px;
    padding-top:35px;
}

.footer-messenger a {    
    height:10px;
}

.footer-links {
    width: 345px;
    padding-top: 10px;
    height: 110px;
    display:flex;
}

.footer-info{
    padding-top:85px;
}

.footer-info p {
    color: #112A3D;
    font-size: 14px;
    cursor: default;
}

.footer-link span {
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    display:flex
}

.footer-link span:hover {
    font-size: 16px;
    color:#0071C2;
}

.footer-link-block{
    width:90px;
}