h1{
    padding-top:160px;
    padding-bottom:95px;
}

.login {
    min-height: 970px;
    height: 85vh;
}

.login-a{
    width:367px;
    margin:0 auto;
    margin-top: 140px;
}

.line-red {
    width: 100px;
    height: 3px;
    margin: -3px auto 0 auto;
    background: #ff0000;
    border-radius: 5px 5px 0 0;
}

.login-a a {
    border-radius: 20px 20px 0 0;
    width: 155px;
    margin-bottom: 40px;
}

.login span {
    color: #d50000;
    margin: -40px auto 50px auto;
}

.enter input {
    width: 642px;
    height: 50px;
    margin-bottom: 50px;
}

.enter label{
    padding-bottom:8px;
}

.enter{
    text-align:left;
}

.enter p{
    text-align:center;
    padding-bottom:170px;
    padding-top:50px;
}

.enter button {
    width: 235px;
    margin: 30px auto 0 auto;
}

.checked {
    margin: 0 auto;
}

.checked input{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
}

.checked label {
    align-items: center;
    display: flex;
    height: 20px;
    color: #006BB9;
}

.login-container{
    height:800px;
}

.login img {
    height: 50px;
    width: 50px;
    margin: 0 15px;
    transition: all 0.2s ease-in-out;
}

.login img:hover {
    height: 55px;
    width: 55px;    
}

.btn-test-enter {
    margin-bottom: 250px;
}