.type-test span {
    color: #006BB9;
}

.type-test p {
    padding-bottom: 32px;
}

.type-test h1 {
    padding-top: 128px;
    padding-bottom: 72px;
}

.type-test-time{
    padding-top: 100px;
    padding-bottom:56px;
}

.type-test a{
    width:236px;
    margin-right:45px;
    margin-bottom:190px;
}

.test h1 {
    padding-top: 130px;
    padding-bottom: 65px;
}

.test input {
    height: 123px;
    width: 123px;
    margin-bottom: 130px;
}

.test a{
    width:235px;
    margin-bottom:235px;
    margin-top:180px;
}

.test-p{
    padding-top:95px;
    padding-bottom:50px;
}

.question {
    height: auto;
    width: 1005px;
    border-radius: 22px;
    background: #C2DCEE;
    padding: 30px;
    margin-bottom: 40px;
}

.question p{
    padding-bottom:20px;
}

.answer {
    width: 850px;
    margin-left: 80px;
}

.answer div {
    height: 123px;
    width: 123px;
    background: none;
    border: 1px solid #9339FA;
    border-radius: 20px;
    
    align-items:center;
    display:flex;
    justify-content:center;
}

.answer div:first-child{
    background: #9339FA;
    color:#fff;
    position:relative;
}

.answer div img{
    position: absolute;
    bottom: -15px;
    right: -5px;
}

form a{
    width:235px;
    margin:0 auto;
    margin-bottom:260px;
    margin-top:40px;
}

.answers-txt p {
    padding-bottom: 15px;
}

.answers-txt div {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 50px;
}

input[type="radio"] {
    display: none;
}

.radio {
    display: grid;
    height: 123px;
    width: 123px;
    border: 1px solid #9339FA;
    border-radius: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
    font-size: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + .radio {
    background-color: #9339FA;
    color: #fff;
}

.test form button{
    width:150px;
    margin-bottom:230px;
}

.tariff {
    padding-top: 160px;
    padding-bottom: 75px;    
}

.tariff h1{
    font-size:48px;
}

.tariff-cart {
    padding: 75px 120px;
    border-radius: 50px;
    border: 1px solid #00528D;
    width: 1100px;
    height: 380px;    
    margin: auto auto 100px auto;
}

.tariff-cart p{
    color: #00528D;
    width:650px;
}

.tariff-cart img{
    height:50px;
}

.tariff-txt{
    padding-bottom:160px;
}

.result b{
    font-size:24px;
    padding-bottom:10px;
}

.result p {
    font-size: 20px;
}

.result h1 {
    padding-top: 130px;
    padding-bottom: 65px;
    font-size: 72px;
}

.result-jobs {
    padding-top: 100px;    
    padding-bottom: 150px;
}

.result-btn {
    width: 620px;
    padding-top: 70px;
    padding-bottom: 240px;    
}

.result-btn a{
    width: 275px;
}

.result table th, td {
    border: 1px solid #006BB9;
}

.result table th {
    text-align: center;
    width:95px;
}

.result table td {
    padding-left:80px;
}

.result table th:first-child {
    width: 420px;
}

.result table {
    min-height: 480px;
    color: #00345A;
}

.result-value th{
    width:760px;
    text-align:left; 
    margin-left:40px;
}