
@{
    ViewBag.Title = "Консультация";
}

<link rel="stylesheet" href="~/css/Account.css" />

<div class="top-line"></div>
<div class="account d-flex justify-content-between">
    <div class="personal-cart">        
        <img src="~/Images/User/personal.png"/>
        <p>@User.Identity.Name</p>
        <hr />
        <a class="page-a" href="~/User/Account">Личные данные</a>
        <a class="page-a" href="~/User/HistoryTests">История тестов</a>
        <div>
            <a class="page-a" href="~/User/Consultation">Констультация</a>
            <hr />
        </div>        
        <a class="page-a" href="~/User/Results">Результаты тестов</a>
        <a class="btn-link exit" href="~/User/LogOut">Выйти</a>
    </div>
    <div class="personal-data">
        <img class="account-menu" id="toggleBtn" src="~/Images/User/menu.png" />
        <h2>Консультация</h2>
        <p class="pb-5">Для лучшего понимани ваших результатов рекомендуем пройти <br />
            консультацию со специальстом, который подробно объяснит все<br />
            детали и ответит на ваши вопросы</p>
        <form action="#" method="">
            <div class="d-grid">
                <label>Ваш телефон</label>
                <input type="text" value="@Model.Phone" />
            </div>
            <div class="d-grid">
                <label>Интересующий тест</label>
                <input type="text" value="" />
            </div>
            <button type="submit"><span>Оставить заявку</span></button>
        </form>

    </div>
</div>
<script src="~/js/accountScroll.js"></script>