@model JustProject.Domain.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Авторизация";
}

<link rel="stylesheet" href="~/css/Login.css" />

<div class="login d-flex justify-content-center">
    <div class=" login-container">        
        <div class="d-flex justify-content-between login-a">            
            <div>
                <div class="line-red"></div>
                <a class="btn-link">Вход</a>
            </div>
            <a class="btn-link" href="~/User/Register">Регистрация</a>
        </div>
        <form class="d-grid enter" action="~/User/Login" method="post">
            <label>E-mail</label>
            <input type="email" name="Email"/>
            @Html.ValidationMessageFor(m=>m.Email)
            <label>Пароль</label>
            <input type="password" name="Password"/>            
            @Html.ValidationMessageFor(m=>m.Password)

            <p class="p-0" style="color:#d50000">@ViewData["Request"]</p>

            <button type="submit">Войти</button>

            <div class="d-flex justify-content-center mt-5">
                <a asp-action="LoginGoogle" asp-controller="User">
                    <img src="~/Images/google.png"/>
                </a>                
                @*<a asp-action="LoginVK" asp-contorller="User">
                    <img src="~/Images/vk.png" />
                </a>*@
            </div>            
        </form>
    </div>
</div>