
@{
    ViewBag.Title = "Результаты тестов";
}

<link rel="stylesheet" href="~/css/Account.css" />

<div class="top-line"></div>
<div class="d-flex justify-content-between">
    <div class="personal-cart">
        <img src="~/Images/User/personal.png"/>
        <p>Михаил</p>
        <hr />        
        <a href="~/User/Account">Личные данные</a>            
        <a href="~/User/HistoryTests">История тестов</a>        
        <a href="~/User/Consultation">Констультация</a>
        <div>
            <a href="~/User/Results">Результаты тестов</a>
            <hr />
        </div>        
        <button><span>Выйти</span></button>
    </div>
    <div class="personal-data">
        <h2>Результаты</h2>        

    </div>
</div>

